
#abc{
   border: 2px solid black;
   background-color: aqua;
   height:500px;
   width: 700px;
   margin-top: 5%;
   margin-left:25%;   
   padding:1rem;       
   border-radius: 12px;    
   text-align: center;
}

form{
    padding: 20px;
    
}


#button1{
    height:40px;
    width:40px;
    background-color: blue;
    border: none;
    float: right;

}

#heading{
    font-size: 20px;
    margin-top: 90px;
}
input{
    width: 90%;
    padding: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background: transparent;
}

#button2{
    color: white;
    background-color: blue;
    height: 50px;
    width:170px;
    margin-top: 70px;
    border: none;
}

input::placeholder{
    font-size: 19px;
}


